body {
font-family: monospace;
background-color: #ffffff;
margin: 0;
}

nav {
background-color: #27319f;
padding: 10px;
display: flex;
justify-content: space-around;
transition: background-color 0.5s ease;
position: fixed;
top: 0;
width: 100%;
z-index: 100;
}

nav a {
color: #fff;
text-decoration: none;
font-size: 1.2em;
transition: color 0.5s ease;
cursor: pointer;
}

nav a:hover {
color: #5673c2;
}

.empty-feed {
display: flex;
flex-direction: column;
padding: 30px;
justify-content: center;
align-items: center;
}

.profile-background, .friends-background, .feed-background, .conversations-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
background-color: #bbd2ff;
z-index: -1;
}

.profile-container {
width: 70%;
height: 70%;
margin: 80px auto;
border: 1px solid #ddd;
background-color: #fff;
border-radius: 20px;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
align-items: center;
}

.profile-title {
text-align: center;
color: #333;
font-size: 25px;
}

.profile-username {
text-align: center;
margin: 10px;
}

.profile-content {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.custom-file-upload {
padding: 3px;
background-color: #8fc1ed;
border-radius: 5px;
cursor: pointer;
display: inline-block;
text-align: center;
margin-bottom: 0;
}

.custom-file-upload:hover {
background-color: #e0e0e0;
}

.custom-file-upload-new-profile {
padding: 3px;
background-color: #8fc1ed;
width: 50%;
border-radius: 5px;
border: 2px solid #8fc1ed;
cursor: pointer;
display: inline-block;
text-align: center;
}

.custom-file-upload-new-profile:hover {
background-color: #d6dfff;
border: 2px solid #8fc1ed;
}

.profile-avatar {
width: 300px;
height: 300px;
border-radius: 50%;
object-fit: cover;
}

.profile-name,
.profile-username,
.profile-birthday,
.profile-email,
.profile-bio {
font-size: 1.2em;
color: #333;
margin: 25px 0;
margin-left: 15%;
margin-right: 15%;
}

.profile-username {
    font-size: 1.5em;
}

.profile-bio {
text-align: center;
}

.close-other-user {
margin-top: 10px;
font-size: 15px;
border-radius: 10px;
background-color: rgb(132, 132, 254);
color: white;
}

.close-other-user:hover {
background-color: rgb(86, 124, 196);
}

.dog-image {
width: 70%;
max-width: 500px;
margin: 20px auto;
display: block;
border-radius: 10px;
}

.feed-header {
margin-top: 42px;
margin-bottom: 0;
padding: 20px;
text-align: center;
position: inherit;
}

.posts-container {
display: flex;
flex-direction: column;
align-items: center;
}

.delete-post-button {
position:relative;
top: 0;
right: 0;
width: 100px;
height: 25px;
border-radius: 20px;
background-color: red;
}

.delete-post-feed-button {
margin-top: 10px;
padding: 2px;
}

.delete-post-feed-button:hover {
text-decoration: underline;
color: rgb(255, 255, 255);
background-color: red;
padding: 2px;
border-radius: 10px;
}

.delete-comment-button {
position: relative;
top: 0;
right: 0;
font-size: 0.5em;
}

.delete-comment-button:hover {
text-decoration: underline;
color: red;
cursor: pointer;
}

.no-scroll {
overflow: hidden;
}

.like-button {
padding: 0.5vw;
border-radius: 0.5vw;
border: 0.2vw solid #5ea0b6;
background-color: #d1eeff;
font-size: 12px;
cursor: pointer;
}

.unlike-button {
position:inherit;
bottom: 5vw;
padding: 0.5vw;
border-radius: 0.5vw;
border: 0.2vw solid #1e05ff;
background-color: #2877ff;
cursor: pointer;
font-size: 12px;
color: white;
}

.modal {
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
margin: auto;
display: block;
height: 70%;
border-radius: 30px;
border: 20px solid #4451ff;
}

.modal-overlay,
.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
}

.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

.floating-button {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 100;
background-color: #4465ad;
color: white;
border: none;
border-radius: 20%;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition-duration: 0.4s;
cursor: pointer;
}

.floating-button:hover {
background-color: #9aa8f2;
}

.new-post-container {
max-width: 600px;
margin: 50px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 10px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-post-container::before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
z-index: -1;
}

.link-to-profile:hover {
text-decoration: underline;
color: rgb(99, 99, 216);
cursor: pointer;
}

.new-post-form {
display: flex;
flex-direction: column;
}

.new-post-form h2 {
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}

.new-post-form label {
margin-bottom: 10px;
font-size: 12px;
}

.form-group {
margin-bottom: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.form-group label {
font-weight: bold;
}

.form-group textarea {
width: 65%;
height: 70px;
padding: 10px;
border: 1px solid #ccc;
font-size: 14px;
border-radius: 10px;
resize: none;
}

.new-post-input {
width: 100%;
height: 100px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
resize: none;
}

.new-post-button {
padding: 15px;
width: 30%;
border-radius: 5px;
border: none;
background-color: #488ce3;
color: white;
cursor: pointer;
margin-top: 25px;
}

.new-post-button:hover {
background-color: #0e5a8a;
}

.close-button {
padding: 5px;
width: 20%;
border-radius: 5px;
border: none;
background-color: #79899e;
color: white;
cursor: pointer;
margin-top: 30px;
}

.char-count {
font-size: 14px;
color: #666;
margin-top: 5px;
}

.preview-container {
margin-bottom: 20px;
display: flex;
justify-content: center;
}

.preview-image {
width: 50%;
border-radius: 5px;
}

.close-button:hover {
background-color: #ff6d6a;
}

.login-form-container {
max-width: 400px;
margin: 0 auto;
padding-top: 200px;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

.login-form-container h2 {
font-size: 30px;
margin-bottom: 10px;
}

.login-form-container p {
margin-bottom: 20px;
font-size: 16px;
}

.login-form-container h3 {
background-color: rgb(233, 236, 255);
padding: 10px;
border-radius: 5px;
}

.login-form-container::before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: url('https://miro.medium.com/v2/resize:fit:4800/format:webp/0*DaagRLGQmSW6FJdw.');
background-size: cover;
background-position: center;
opacity: 0.4;
z-index: -1;
}

.login-form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
margin-bottom: 40px;
}

.login-input {
width: 90%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

.login-input-container {
margin-bottom: 15px;
display: flex;
flex-direction: column;
align-items: center;
}

.login-label {
display: block;
margin-bottom: 5px;
font-size: 13px;
}

.login-button {
width: 60%;
margin-top: 20px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #1877f2;
color: #fff;
font-size: 16px;
cursor: pointer;
}

.login-button:hover {
background-color: #166fe5;
}

.login-error {
color: red;
margin-bottom: 10px;
}

.showpassword-button {
border: none;
background: none;
cursor: pointer;
font-size: 14px;
color: #333;
}

.signup-account-button {
border: none;
background: none;
color: #1877f2;
cursor: pointer;
font-size: 10px;
}

.signup-account-button:hover {
text-decoration: underline;
color: blue;
}

.create-profile-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-image: url('https://miro.medium.com/v2/resize:fit:4800/format:webp/0*DaagRLGQmSW6FJdw.');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
opacity: 0.4;
z-index: -1;
}

.create-profile-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 40vw;
margin: 100px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 100px;
background-color: rgba(239, 250, 255, 0.8);
}

.create-profile-form {
display: flex;
flex-direction: column;
width: 80%;
}

.create-profile-form label {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10px;
font-size: 12px;
}

.create-profile-form input[type="text"],
.create-profile-form input[type="email"],
.create-profile-form input[type="password"],
.create-profile-form input[type="date"],
.create-profile-form textarea {
width: 70%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #4b5dff;
border-radius: 5px;
}

.create-profile-form button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
width: 60%;
border-radius: 5px;
cursor: pointer;
margin: 10px 0;
}

.create-profile-form button:hover {
background-color: #0056b3;
}

.create-profile-button {
display: flex;
justify-content: center;
margin-bottom: 15px;
}

.create-profile-button button {
font-size: 12px;
}

.back-button {
padding: 5px 10px;
background-color: #8f9efe;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 9px;
}

.back-button:hover {
background-color: #384fff;
}

.delete-modal {
position: fixed;
z-index: 9999;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 50%;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.delete-modal-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.delete-modal-header h2 {
margin: 0;
}

.delete-modal-close {
cursor: pointer;
}

.delete-modal-body {
padding: 20px 0;
}

.delete-modal-footer {
text-align: center;
}

.delete-modal-button {
padding: 10px 20px;
border: none;
background-color: #f74646;
color: white;
border-radius: 5px;
cursor: pointer;
}

.delete-modal-button:hover {
background-color: #ff7575;
}

.profile-posts-container {
display: flex;
flex-direction: space-between;
flex-wrap: wrap;
justify-content: center;
}


.profile-post-feed-display-item {
/* width: 150px; */
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
}

.comments-container-modal {
width: 80%;
margin: auto;
padding: 20px;
margin-top: 40px;
background-color: #f5f5f5;
border-radius: 10px;
}

.comment-card {
display: flex;
align-items: center;
margin-bottom: 20px;
padding: 20px;
background-color: white;
border-radius: 10px;
}

.post {
background-color: #f5f5f5;
border-radius: 25px;
border: 2px solid #2d2d2d;
padding: 20px;
width: 525px;
margin: 15px;
display: flex;
flex-direction: column;
align-items: center;
}

.post-header {
display: flex;
flex-direction: row;
}

.content-header {
display: flex;
justify-content: center;
text-align: center;
font-size: 1.4em;
max-width: 400px;
margin-top: 10px;
}

.content-header p {
margin-top: 10px;
margin-bottom: 30px;
}

.post-pic {
height: 40vh;
max-width: 40vh;
object-fit: cover;
border-radius: 15px;
margin-bottom: 20px;
cursor: pointer;
}

.submit-comment-feed {
display: flex;
flex-direction: column;
margin: 10px;
justify-content: center;
align-items: center;
}

@media (max-width: 768px) {
.post-pic {
height: auto;
width: 80%;
}

.post {
width: 90%;
}
}

.profile-pic {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 20px;
object-fit: cover;
}

.profile-post-modal-image-comments {
display: flex;
flex-direction: column;
}

.profile-image-like-wrapper {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
margin-top: 10px;
}

.profile-post-pic {
max-width: 150px;
max-height: 150px;
border-radius: 10px;
margin-bottom: 10px;
cursor: pointer;
border: 3px solid #2d2d2d;
}

.profile-post-pic-modal {
width: 300px;
border-radius: 10px;
margin-bottom: 20px;
}

.profile-comments-container {
height: 400px;
overflow: auto;
margin-top: 40px;
}

.profile-comment {
border: 2px solid #2d2d2d;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
}

.comment {
margin: 5px;
}

.comment-name {
margin-top: 10px;
margin-bottom: 0;
}

.comment-text {
margin: 0;
}

.comment-date {
margin: 0;
}

.comments-container {
display: flex;
flex-direction: column;
width: 300px;
font-size: 12px;
}

.comments-container input {
font-size: 14px;
}

.comments-container-modal-close-modal-button {
position: fixed;
bottom:0;
left: 50%;
transform: translateX(-50%);
cursor: pointer;
background-color: rgb(86, 124, 196);
padding: 10px 20px;
margin-bottom: 0;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.close-post-modal {
position: fixed;
bottom:0;
left: 50%;
transform: translateX(-50%);
cursor: pointer;
background-color: rgb(86, 124, 196);
padding: 10px 20px;
margin-bottom: 0;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.delete-profile-post-button {
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}

.other-user-modal {
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(255, 255, 255, 0.8);
display: flex;
align-items: center;
justify-content: center;
}

.friends-container, .conversations-page {
width: 80%;
height: 80vh;
margin: 60px auto;
margin-top: 0;
padding: 20px;
background-color: #f5f5f5;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.friend {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
margin-bottom: 10px;
background-color: #fff;
border-radius: 5px;
border: 2px solid #8d97ff;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.friend-request {
display: flex;
justify-content: space-between;
align-items: center;
border: 2px solid #ccc;
border-radius: 5px;
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}

.friend-request h3:hover {
cursor: pointer;
text-decoration: hover;
color: rgb(123, 123, 255);
}

.friend-request-actions {
display: flex;
}

.accept-button {
color: white;
background-color: rgb(91, 206, 91);
margin-right: 10px;
padding: 5px 10px;
text-decoration: none;
cursor: pointer;
border-radius: 5px;
}

.accept-button:hover {
background-color: green;
}

.decline-button {
color: white;
background-color: rgb(240, 107, 107);
padding: 5px 10px;
text-decoration: none;
cursor: pointer;
border-radius: 5px;
}

.decline-button:hover {
background-color: red;
}

.friends-list {
display: flex;
flex-direction: column;
height: 80vh;
overflow-y: auto;
}

.friend-name-header {
cursor: pointer;
}

.friend-name-header:hover {
text-decoration: underline;
}

.friend-requests-container {
margin-bottom: 20px;
}

.new-message-container {
position: relative;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.new-message-button {
padding: 10px;
border-radius: 5px;
background-color: #dee4ff;
border: 2px solid #4465ad;
}

.new-message-button:hover {
background-color: #4465ad;
color: white;
cursor: pointer;
}


.search-input {
width: 300px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
margin-right: 10px;
}

.friend-search-input-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px;
}

.search-label {
margin-bottom: 5px;
font-size: 12px;
}

.search-bar-friends {
display: flex;
justify-content: center;
font-size: 16px;
border-radius: 5px;
}

.dropdown {
position: absolute;
top: 63px;
z-index: 1;
width: 300px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
display: flex;
justify-content: center;
align-items: center;
padding: 8px;
cursor: pointer;
}

.dropdown-item:hover {
background-color: #f0f0f0;
}

.friend-profile-picture {
width: 30px;
height: 30px;
border-radius: 50%;
margin-right: 10px;
}

.friend-profile-picture-friends-tab {
height: 50px;
width: 50px;
border-radius: 50%;
object-fit: cover;
}

.friend-name {
font-size: 16px;
}

.conversations-list {
display: flex;
flex-direction: column;
align-items: center;
height: 90%;
}

.conversation-item {
border: 1px solid #ccc;
border-radius: 10px;
padding: 10px;
width: 70%;
margin-bottom: 10px;
background-color: rgb(236, 236, 236);
cursor: pointer;
text-align: center;
display: flex;
justify-content: space-between;
align-items: center;
}

.conversation-item:hover {
background-color: rgb(220, 220, 220);
}

.conversation-profile-pic {
width: 40px;
height: 40px;
border-radius: 50%;
}

.conversation-modal {
width: 60%;
height: 500px;
overflow: hidden;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
border-radius: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
}

.chat-area {
flex: 1;
overflow-y: auto;
padding: 20px;
}

.other-message, .your-message {
margin-bottom: 10px;
border: 1px solid #ccc;
padding: 5px;
border-radius: 10px;
}

.your-message {
text-align: right;
margin-left: auto;
}

.conversation-modal-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
}

.initiating-message {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.initiating-message input {
margin: 10px;
}

.message-input-container {
display: flex;
align-items: center;
padding: 10px;
}

.message-input {
flex: 1;
height: 40px;
border-radius: 20px;
border: 1px solid #ccc;
padding: 10px;
margin-right: 10px;
}

.send-button {
width: 100px;
height: 40px;
border-radius: 20px;
border: none;
background-color: #4465ad;
color: white;
cursor: pointer;
}

.send-button:hover {
background-color: #9aa8f2;
}

.message-profile-picture {
width: 30px;
height: 30px;
border-radius: 50%;
margin-right: 10px;
}